TestCinemaClubAPI/TestCinemaWCF/Service References/CinemaClubService/SecretaryCardSerivce1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" />
  <xs:element name="GetSecretaryCardListByGeneralOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operatorId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecretaryCardListByGeneralOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="GetSecretaryCardListByGeneralOrderIdResult" nillable="true" type="q2:ArrayOfSecretaryCard" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifeClubCardListByGeneralOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operatorId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifeClubCardListByGeneralOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="GetLifeClubCardListByGeneralOrderIdResult" nillable="true" type="q4:GetClubCardListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifeClubCardListByGeneralOrderIdNoOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLifeClubCardListByGeneralOrderIdNoOpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="GetLifeClubCardListByGeneralOrderIdNoOpResult" nillable="true" type="q5:GetClubCardListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClubCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="Info" nillable="true" type="q6:ClubSeriesInfo" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="operatorId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClubCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="ActiveClubCardResult" nillable="true" type="q8:ActiveCardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClubCardNoOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="Info" nillable="true" type="q9:ClubSeriesInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveClubCardNoOpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="ActiveClubCardNoOpResult" nillable="true" type="q10:ActiveCardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaClubCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaClubCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="GetCinemaClubCardResult" nillable="true" type="q11:CinemaCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaTicketList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCinemaTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" minOccurs="0" name="GetCinemaTicketListResult" nillable="true" type="q12:ArrayOfCinemaTicketInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>