WeixinServiceWcfTest/WeixinServiceWcfTest/Service References/WeiXinServiceClient/SecretaryCardSerivce3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://weixinservice.uni2uni.com/SecretaryCardSerivce.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSecretaryCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecretaryCard" nillable="true" type="tns:SecretaryCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecretaryCard" nillable="true" type="tns:ArrayOfSecretaryCard" />
  <xs:complexType name="SecretaryCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecretaryCard" nillable="true" type="tns:SecretaryCard" />
  <xs:complexType name="GetClubCardListResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:ArrayOfCardInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetClubCardListResult" nillable="true" type="tns:GetClubCardListResult" />
  <xs:complexType name="BaseResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RstMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RstState" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResult" nillable="true" type="tns:BaseResult" />
  <xs:complexType name="ArrayOfCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardInfo" nillable="true" type="tns:CardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardInfo" nillable="true" type="tns:ArrayOfCardInfo" />
  <xs:complexType name="CardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardInfo" nillable="true" type="tns:CardInfo" />
  <xs:complexType name="ClubSeriesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecList" nillable="true" type="tns:ArrayOfExecuteInfo" />
      <xs:element minOccurs="0" name="Member" nillable="true" type="tns:MemberInfo" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClubSeriesInfo" nillable="true" type="tns:ClubSeriesInfo" />
  <xs:complexType name="ArrayOfExecuteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecuteInfo" nillable="true" type="tns:ExecuteInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecuteInfo" nillable="true" type="tns:ArrayOfExecuteInfo" />
  <xs:complexType name="ExecuteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecuteDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecuteId" type="ser:guid" />
      <xs:element minOccurs="0" name="ExecuteType" type="xs:int" />
      <xs:element minOccurs="0" name="Moblie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" type="xs:long" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteInfo" nillable="true" type="tns:ExecuteInfo" />
  <xs:complexType name="MemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="CityID" type="xs:int" />
      <xs:element minOccurs="0" name="CredentialsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfo" nillable="true" type="tns:MemberInfo" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClubType" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="ActiveCardResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RelatedId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveCardResult" nillable="true" type="tns:ActiveCardResult" />
  <xs:complexType name="CinemaCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CinemaCardInfo" nillable="true" type="tns:CinemaCardInfo" />
  <xs:complexType name="ArrayOfCinemaTicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CinemaTicketInfo" nillable="true" type="tns:CinemaTicketInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCinemaTicketInfo" nillable="true" type="tns:ArrayOfCinemaTicketInfo" />
  <xs:complexType name="CinemaTicketInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieHall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Screening" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TicketCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CinemaTicketInfo" nillable="true" type="tns:CinemaTicketInfo" />
</xs:schema>