TestCinemaClubAPI/TestCinemaClubAPI/Service References/CinemaClubService/SecretaryCardSerivce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecretaryCardSerivce" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceForSecretaryCard" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecretaryCardSerivce_GetSecretaryCardListByGeneralOrderId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretaryCardListByGeneralOrderId" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetSecretaryCardListByGeneralOrderId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecretaryCardListByGeneralOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLifeClubCardListByGeneralOrderId" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLifeClubCardListByGeneralOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderIdNoOp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLifeClubCardListByGeneralOrderIdNoOp" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderIdNoOp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLifeClubCardListByGeneralOrderIdNoOpResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_ActiveClubCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveClubCard" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_ActiveClubCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveClubCardResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_ActiveClubCardNoOp_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveClubCardNoOp" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_ActiveClubCardNoOp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveClubCardNoOpResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetCinemaClubCard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCinemaClubCard" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetCinemaClubCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCinemaClubCardResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetCinemaTicketList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCinemaTicketList" />
  </wsdl:message>
  <wsdl:message name="ISecretaryCardSerivce_GetCinemaTicketList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCinemaTicketListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecretaryCardSerivce">
    <wsdl:operation name="GetSecretaryCardListByGeneralOrderId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetSecretaryCardListByGeneralOrderId" message="tns:ISecretaryCardSerivce_GetSecretaryCardListByGeneralOrderId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetSecretaryCardListByGeneralOrderIdResponse" message="tns:ISecretaryCardSerivce_GetSecretaryCardListByGeneralOrderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLifeClubCardListByGeneralOrderId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderId" message="tns:ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderIdResponse" message="tns:ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLifeClubCardListByGeneralOrderIdNoOp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderIdNoOp" message="tns:ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderIdNoOp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderIdNoOpResponse" message="tns:ISecretaryCardSerivce_GetLifeClubCardListByGeneralOrderIdNoOp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveClubCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCard" message="tns:ISecretaryCardSerivce_ActiveClubCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCardResponse" message="tns:ISecretaryCardSerivce_ActiveClubCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveClubCardNoOp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCardNoOp" message="tns:ISecretaryCardSerivce_ActiveClubCardNoOp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCardNoOpResponse" message="tns:ISecretaryCardSerivce_ActiveClubCardNoOp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCinemaClubCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetCinemaClubCard" message="tns:ISecretaryCardSerivce_GetCinemaClubCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetCinemaClubCardResponse" message="tns:ISecretaryCardSerivce_GetCinemaClubCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCinemaTicketList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetCinemaTicketList" message="tns:ISecretaryCardSerivce_GetCinemaTicketList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretaryCardSerivce/GetCinemaTicketListResponse" message="tns:ISecretaryCardSerivce_GetCinemaTicketList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecretaryCardSerivce" type="tns:ISecretaryCardSerivce">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSecretaryCardListByGeneralOrderId">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/GetSecretaryCardListByGeneralOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLifeClubCardListByGeneralOrderId">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLifeClubCardListByGeneralOrderIdNoOp">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/GetLifeClubCardListByGeneralOrderIdNoOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveClubCard">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveClubCardNoOp">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/ActiveClubCardNoOp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemaClubCard">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/GetCinemaClubCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCinemaTicketList">
      <soap:operation soapAction="http://tempuri.org/ISecretaryCardSerivce/GetCinemaTicketList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecretaryCardSerivce">
    <wsdl:port name="BasicHttpBinding_ISecretaryCardSerivce" binding="tns:BasicHttpBinding_ISecretaryCardSerivce">
      <soap:address location="http://serviceforsecretarycard.com/SecretaryCardSerivce.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>